@import 'variables';

.btn-wrapper {
  border-radius: 5px;
  height: 2.7rem;
  float: left;
  outline: none;
  font-size: 0.9rem;
  font-weight: 700;
  border:  0px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}