@import 'variables';

.btn-wrapper {
  float: left;
  outline: none;
  font-size: 0.9rem;
  font-weight: 700;
  border:  0px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;

  .backIcon {
    margin-right: 5px;
    margin-bottom: 2px;
  }
}