@import 'variables';

.btn-wrapper {
  float: left;
  outline: none;
  font-weight: 700;
  border:  0px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

  .backIcon {
    margin-right: 5px;
    font-size: 1rem;
  }
}