@import 'variables' ;

.main-product-container {
  display: flex;
  padding-top: 4rem;
  min-height: 100vh;
  background-color: $light-grey;
  justify-content: center;

  .product-card {
    display: flex;
    min-height: 24rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: $white;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;

    .sub-heading {
      margin-top: 1rem;
      align-self: flex-start;
    }

    .product-info {
      display: table;
      flex-direction: row;

      .product-field {
        float: left;
        width: 20.5rem;
        align-self: flex-start;
      }

      .name-field {
        margin-right: 3.5rem;
      }
    }

    .product-actions {
      display: flex;
      width: 44rem;
      margin-top: 2rem;
      flex-direction: row;

      .cancel-btn {
        margin-right: 1vh;
      }
    }

    .product-end {
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: 1070px) {

  }

  @media screen and (max-width: 796px) {
    .product-actions {
      float: left !important;
      width: 90% !important;
    }
    .product-info {
      float: left !important;
      width: 100% !important;
    }
  }

  @media screen and (max-width: 450px) {
    .product-actions {
      float: left !important;
      width: 90% !important;
    }
    .product-info {
      float: left !important;
      width: 100% !important;

      .product-field {
        float: left !important;
        width: 80% !important;
      }
    }
  }
}
