@import 'variables' ;

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $light-grey;

  .home-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42rem;
    height: 12rem;
    box-shadow: 0 -4px 7px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    padding: 2rem;
    border-radius: 10px;
    background-color: $white;
  }
}