@import 'variables' ;

.main-survey-container {
  display: flex;
  padding-top: 2rem;
  min-height: 100vh;
  background-color: $light-grey;
  align-items: center;
  justify-content: center;

  .survey-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .breadcrumb {
    display: flex;
    width: 62rem;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    padding-left: 0px !important;

    .back-icon-wraperr {
      display: flex;
      width: 1.2rem;
      height: 1.2rem;
      background-color: $white;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }

    .title {
      margin-left: 1rem;
    }
  }

  .cancel-modal {
    width: 62rem;
    min-height: 24rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: $white;
  }

  @media screen and (max-width: 450px) {
    .survey-container {
      display: inline-block !important;
    }

    .cancel-modal {
      float: left !important;
      width: 80% !important;
    }

    .breadcrumb {
      float: left !important;
      width: 80% !important;
    }
  }
}