@import 'variables' ;

.main-survey-container {
  display: flex;
  padding-top: 2rem;
  min-height: 100vh;
  background-color: $light-grey;
  align-items: center;
  justify-content: center;

  .survey-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .breadcrumb {
    display: flex;
    width: 62rem;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    padding-left: 0px !important;

    .back-icon-wraperr {
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $white;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }

    .title {
      margin-left: 1rem;
      font-weight: bold;
    }
  }

  .cancel-survey {
    display: flex;
    min-height: 24rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: $white;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;

    .questions {
      color: $grey;
      margin-top: -0.5rem;
      font-size: 0.8rem;
      font-weight: 500;
    }

    .answer-wrapper {
      display: flex;
      border: 1px solid $light-grey;
      height: 3rem;
      border-radius: 50px;
      padding-left: 15px;
      align-items: center;
      margin-bottom: 1rem;
      width: 44rem;
      flex-direction: row;

      .radio-btn {
        width: 15px;
        height: 15px;
      }

      .label {
        margin-left: 10px;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    .text-area {
      height: 6rem;
      border-radius: 2px;
      padding-top: 1rem;
      font-size: 0.8rem;
      word-spacing: -4px;
      resize: vertical;
    }

    .text-area:focus {
      outline: 1px solid $light-grey;
    }

    .horizontal-seperator {
      border-top: 1px solid $light-grey;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .active-answer-wrapper {
      background-color: #1170dd3b;
    }

    .alert-box {
      display: flex;
      width: 43rem;
      background-color: $light-warning;
      padding: 1rem;
      border-radius: 5px;
      margin-top: 2rem;
      align-items: center;
      flex-direction: row;

      .content {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        text-align: start;
        margin-top: -1rem;

        .icon {
          color: $error;
          font-size: 1.2rem;
          width: $col-1;
          margin-top: 1.1rem;
        }

        .description {
          font-size: 0.9rem;
          width: $col-11;
          line-height: 1.7rem;
        }
      }
    }

    .survey-actions {
      display: flex;
      width: 44rem;
      margin-top: 2rem;
      flex-direction: row;

      .back-btn {
        margin-right: 1vh;
      }
    }

    .survey-end {
      justify-content: flex-end;
    }

    .survey-between {
      justify-content: space-between;
    }

    .drop-down-select {
      border-radius: 0px !important;
      justify-content: space-between;
      cursor: pointer;
      background-color: $white;
      padding-right: 15px !important;
      width: 45rem;
      margin-bottom: -0px;

      .heading {
        color: $grey;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    .active {
      border: 1px solid $primary;
    }

    .drop-down-options {
      position: absolute;
      border-radius: 0px !important;
      background-color: $white;
      z-index: 100;
      margin-top: -1px;
      flex-direction: column;
      height: 9rem;
      align-items: flex-start;
      overflow-y: scroll;
      overflow-x: hidden;

      .option-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 12px;

        .label {
          margin-left: 0.5rem;
          color: $grey;
        }
      }

      .option-wrapper:hover {
        background-color: $primary;

        .label {
          color: $white;
        }
      }

      .heading {
        color: $grey;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

  }

  @media screen and (max-width: 1070px) {
    .breadcrumb {
      float: left !important;
      width: 90% !important;
    }
  }

  @media screen and (max-width: 796px) {
    .answer-wrapper {
      float: left !important;
      width: 100% !important;
    }

    .alert-box {
      float: center !important;
      width: 95% !important;
    }

    .survey-actions {
      float: left !important;
      width: 90% !important;
    }

    .drop-down-select {
      float: left !important;
      width: 102% !important;
    }

    .drop-down-options {
      float: left !important;
      width: 88% !important;
      margin-top: 45px !important;
    }
  }

  @media screen and (max-width: 450px) {
    .survey-container {
      display: inline-block !important;
    }

    .breadcrumb {
      float: left !important;
      width: 90% !important;
    }

    .answer-wrapper {
      float: left !important;
      width: 90% !important;
    }

    .alert-box {
      float: left !important;
      width: 100% !important;
    }

    .survey-actions {
      float: left !important;
      width: 90% !important;
    }


    .drop-down-select {
      float: left !important;
      width: 98% !important;
    }

    .drop-down-options {
      float: left !important;
      width: 88% !important;
      width: 76.5% !important;
      margin-top: 45px !important;
    }

    .cancel-survey {
      .answer-wrapper {
        .label {
          font-size: 0.7rem;
        }
      }
    }
  }
}
