@import 'variables' ;

.question-lable {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  margin-top: 2rem !important;
}

.product-issue {
  margin-top: 2rem !important;
}

.horizontal-seperator {
  border-top: 1px solid $light-grey;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.bugs-problem-btns {
  margin-bottom: 5.5rem;
}

@media screen and (max-width: 450px) {
  .bugs-problem-btns .question-lable {
    margin-top: 4rem !important;
  }
}