@import 'variables' ;

.upload-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .upload-heading {
    font-size: 0.81rem;
    font-weight: 700;
    color: $dark-grey;
    margin-top: 0.3rem;
  }

  .heading-option {
    font-size: 0.81rem;
    color: $grey;
    font-weight: 400;
  }

  .upload-img-description {
    font-size: 0.81rem;
    color: $grey;
    margin-top: 0.8rem;
    text-align: left;
    margin-bottom: 0.3rem;
  }

  .upload-wrapepr {
    display: flex;
    width: $col-12;
    height: 3rem;
    margin-top: -0.2rem;

    .image-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.12rem;
      height: 3.12rem;
      cursor: pointer;
      background-color: $light-grey2;
      border-radius: 5px;
      border: none;

      .image {
        object-fit: cover;
        width: 3rem;
        height: 3rem;
      }

      .add-icon {
        color: $primary;
        font-size: 1.5rem;
      }

      .loader {
        border: 4px solid $grey;
        border-radius: 50%;
        border-top: 4px solid $light-grey;
        width: 1rem;
        height: 1rem;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }
  }
}


@media screen and (max-width: 796px) {
  .upload-container {
    margin-top: 0.5rem;
  }
}