$primary: #286EF1;
$grey: #666565;
$dark-grey: #E5E5E5;
$light-grey: #F9F9F9;
$light-grey2: #F2F2F2;
$light-grey3: #E6E6E6;
$medium-grey: #dfdfdf;
$white: #FFFFFF;
$error: #FF3333;
$light-warning: #FAEAEC;

$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10:  83.33%;
$col-11:  91.66%;
$col-12:  100%;