$primary: #1782e6;
$grey: #666565;
$dark-grey: #4b4b4b;
$light-grey: #ececec;
$light-grey2: #f5f5f5;
$medium-grey: #dfdfdf;
$white: #ffffff;
$error: #FF3333;
$light-warning: #FAEAEC;

$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10:  83.33%;
$col-11:  91.66%;
$col-12:  100%;