$primary: #1782e6;
$grey: #666565;
$light-grey: #eeeeee;
$white: #ffffff;
$error: #FF3333;
$light-warning: #FAEAEC;

$background: #f8f8f8;
$secondary: #54b9e8;
$disable: #c3cbd8bb;
$border: #949494;

$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10:  83.33%;
$col-11:  91.66%;
$col-12:  100%;